<h1>Add a product</h1>

<form method="POST" action="/catalog/create">
    <label>
        <span>Name: <input type="text" name="name"></span>
    </label>
    <label>
        <span>Price: <input type="number" name="price"></span>
    </label>
    <label>
        <span>Promoted: <input type="checkbox" name="promoted"></span>
    </label>
    <button>Create</button>
</form>

<a href="/catalog">Back to catalog</a>